# Configurações do Azure Storage Account e Domínio
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=SUA_CONTA;AccountKey=SUA_CHAVE;EndpointSuffix=core.windows.net
DOMAIN_NAME=gh900serverlab.eastus2.cloudapp.azure.com
